<launch>

  <node name="sicklms" pkg="sicktoolbox_wrapper" type="sicklms" args="_port:=/dev/ttyS0 _baud:=38400  _frame_id:=lms291_data"/>

  <node pkg="drive_jackal" name="auto_drive" type="auto_drive.py" required="true" output="screen"/>
  
  <node pkg="rosbag" type="record" name="record_tf_scan" args="-O $(find drive_jackal)/bags/nav /tf /scan"/>

</launch>
