<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="lms291_lrf">
  <xacro:property name="PI" value="3.1415926535897931" />
  
  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>
  
  <material name="grey">
    <color rgba=".3 .3 .3 1.0"/>
  </material>
  

  
  <!-- LMS291 Lidar model -->
  <link name="lms291">
    <inertial>
      <mass value="4.5" />
      <origin xyz="0 0 0" />
      <inertia
      ixx="${(1/12)*4.5*((0.185*0.185)+(0.156*0.156))}" ixy="0.0" ixz="0.0"
      iyy="${(1/12)*4.5*((0.155*0.155)+(0.156*0.156))}" iyz="0.0"
      izz="${(1/12)*4.5*((0.155*0.155)+(0.185*0.185))}"/>
    </inertial>
    
    <visual>
      <geometry>
        <mesh filename="package://drive_jackal/mesh/lms291_asm.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.155 0.156 0.185"/>
      </geometry>
    </collision>
  </link>
  
  
  <!-- LMS291 Lidar Mount model -->
  <link name="lms291_mount">
    <inertial>
      <mass value="0.4" />
      <origin xyz="0 0 0" />
      <inertia
      ixx="0.0" ixy="0.0" ixz="0.0"
      iyy="0.0" iyz="0.0"
      izz="0.0"/>
    </inertial>
    
    <visual>
      <geometry>
        <mesh filename="package://drive_jackal/mesh/LidarMount.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0.0925" rpy="${PI} 0 0" />
      <geometry>
        <box size="0.155 0.156 0.185"/>
      </geometry>
    </collision>
  </link>

  <link name="lms291_data"/>


  <!-- Link for Scan data to LMS291 -->
  <joint name="scan_to_lms291" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 ${PI}" />
    <parent link="lms291"/>
    <child link="lms291_data"/>
  </joint>

  <!-- Link for LMS291 to Mount -->
  <joint name="lms291_to_mount" type="fixed">
    <origin xyz="0 -0.093 0.078" rpy="0 0 ${PI/2}" />
    <parent link="lms291_mount"/>
    <child link="lms291"/>
  </joint>
  
  <!-- Link for Mount to Jackal -->
  <joint name="lms291_mount_to_jackal" type="fixed">
    <origin xyz="-0.090 0 0" rpy="0 0 ${PI/2}" />
    <parent link="front_mount"/>
    <child link="lms291_mount"/>
  </joint>



  <gazebo reference="lms291">
    <material>Gazebo/Blue</material>
    <turnGravityOff>true</turnGravityOff>
    <sensor type="ray" name="lms291">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>75</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>0.25</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.001</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_laser" filename="libgazebo_ros_laser.so">
        <topicName>scan</topicName>
        <frameName>lms291</frameName>
      </plugin>
    </sensor>
  </gazebo>
  
  <gazebo reference="lms291_mount">
    <material>Gazebo/Grey</material>
  </gazebo>
</robot>
